.countdown {
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 30%;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size:80px;
  z-index:100;
}

#video {
	margin-top: -350px; //this is for black wood bit
	    box-sizing: border-box;
    background: url(frame.png)  no-repeat 50% 50%;
    background-size: contain;
    padding: 8% 26% 7% 24%;
    position: absolute;
}



video {
  //-webkit-transform: scaleX(-1);
  //transform: scaleX(-1);
  //transform:rotate(90deg);
  // -moz-transform:rotate(90deg);
  //-webkit-transform:rotate(90deg);
  //-o-transform:rotate(90deg);
  //-ms-transform:rotate(90deg);
  transform:rotate(270deg);
}
.box{ padding: 50px;}

div {
    position: relative;
    padding-top: 0px;
    padding-bottom: 67.5%;
    height: 0;
}
.content {

    margin-top: 150px;
    left: 0;
    //width: 100%;
    //height: 100%;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); } 
}


body {
	background-color: #FFC300;
	
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 40px; //change this to your desired size
    line-height: large;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.wrapper {
  //width: 100%;
  padding: 0 2rem;
  text-align: center;
}
.polaroid {
  width: 160px;
  height: 170px;
  background: #fff;
  padding: 1rem;
  margin-top: 15px;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  
}
.polaroid > img{
  //max-width: 100%;
  //height: auto;
}